<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New meteo chart</title>
        <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load('visualization', '1');

            google.setOnLoadCallback(function () {
                $.getJSON('/463/211', function(data) {
                    chartWrapper = new google.visualization.ChartWrapper({
                        chartType: 'LineChart',
                        dataTable: data,
                        containerId: 'chart_div',
                        options: {
                            backgroundColor: '#f7f7f7',
                            legend: {position: 'bottom'}
                        }
                    });
                    chartWrapper.draw()
                });

            });
        </script>
    </head>
    <body>
        <div id="chart_div" style="height:600px; width: 100%">Loading chart...</div>
    </body>
</html>
